version: 2
jobs:
    build:
        docker:
            - image: maven:3-jdk-8
        resource_class: medium
        steps:
            - checkout
            - run:
                name: Maven Build
                command: |
                    MVN_OPTS="-gs .circleci/settings.xml -fae -Dupdatesite.path=${P2_URL} -Dlicense.path=./license_RealtimeBigData_20210315 -Dgeneration.type=local"
                    MVN_DEPLOY_OPTS="-DaltDeploymentRepository=snapshots::default::${ARTIFACTORY_URL}/repository/snapshots"
                    # Deploy to Artifactory 
                    mvn ${MVN_OPTS} ${MVN_DEPLOY_OPTS} -f WOKAMOTO_PROJECT/poms/pom.xml deploy -fn -e                    
workflows:
    version: 2
    build:
        jobs:
            - build