version: 2
jobs:
    build:
        docker:
            - image: maven:3-jdk-8
        resource_class: medium
        steps:
            - checkout
            - run:
                name: Maven Build
                command: |
                    mvn -f WOKAMOTO_PROJECT/poms/pom.xml deploy -Pdocker -e -pl jobs/process/Test_Job01_0.1,jobs/routes/Test_Service01_0.1 -am -Dtalend.docker.name=${env.IMAGE_NAME}"         
workflows:
    version: 2
    build:
        jobs:
            - build