version: 2
jobs:
    build:
        docker:
            - image: maven:3-jdk-8
        resource_class: medium
        steps:
            - checkout
            - run:
                name: Maven Build
                command: |
                    MVN_OPTS="-gs .circleci/settings.xml -fae -Dupdatesite.path=${P2_URL} -Dlicense.path=./license_RealtimeBigData_20210315 -Dgeneration.type=local"
                    mvn ${MVN_OPTS} -f WOKAMOTO_PROJECT/poms/pom.xml deploy -Pdocker -e -pl talend-repository/WOKAMOTO_PROJECT/ -Ddocker.push.registry=wokamotodockerhub/circleci-dockerrepo -Ddocker.push.username=wokamotodockerhub -Ddocker.push.password=Okam12345
workflows:
    version: 2
    build:
        jobs:
            - build