version: 2
jobs:
    build:
        docker:
            - image: maven:3-jdk-8
        resource_class: medium
        steps:
            - checkout
            - add_ssh_keys:
                fingerprints:
                    - '90:80:80:82:ab:39:4c:de:ac:5c:1a:0b:9b:de:d3:da'
            - run:
                name: Maven Build
                command: |
                    MVN_OPTS="-gs .circleci/settings.xml -fae -Dupdatesite.path=${P2_URL} -Dlicense.path=./license_RealtimeBigData_20210315 -Dgeneration.type=local -Dtalend.job.context=Linux"
                    DOC_OPTS="-Ddocker.push.username=${DOC_USER} -Ddocker.push.password=${DOC_PASSWORD} -Ddocker.push.registry=http://ghcr.io/wokamoto-git"
                    mvn ${MVN_OPTS} -f WOKAMOTO_PROJECT/poms/pom.xml deploy -Pdocker -e
workflows:
    version: 2
    build:
        jobs:
            - build