version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    docker:
      - image: wokamoto_project/test_job01:0.1.2
    steps:
      - checkout
      - run: echo "this is the build job"
  test:
    docker:
      - image: wokamoto_project/test_job01:0.1.2
    steps:
      - checkout
      - run: echo "this is the test job"

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - test
